.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow__container {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow__image img {
    width: 100%;
    height: auto;
}
