/* Style for associated Offers from Search */

.search-result{
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited{
    color: inherit;
}
